.burger {
    outline: none;
    border: none;
    appearance: none;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    width: 28px;
    height: 26px;
    position: relative;
    z-index: 2;
    &--active {
        .burger__icon {
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            background-color: $dark1;
            &::before {
                top: 0;
                transition: top 75ms ease, opacity 75ms ease 0.12s;
                opacity: 0;
            }
            &:after {
                bottom: 0;
                transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
                transform: rotate(-90deg);
                background-color: $dark1;
            }
        }
    }
    &__icon,
    &__icon:before,
    &__icon:after {
        display: block;
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: $dark1;
    }
    &__icon {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition-duration: 75ms;
        transition-property: transform;
        &:before,
        &:after {
            content: "";
        }
        &:before {
            top: -8px;
            transition: top 75ms ease 0.12s, opacity 75ms ease;
        }
        &:after {
            bottom: -8px;
            transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
}
