.masonry {
  columns: 3 250px;
  column-gap: 1rem;
}

.tile {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  position: relative;
  &:hover {
    &:before {
      opacity: 1;
    }
    .tile__content {
      opacity: 1;
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($accent, 0.9);
    opacity: 0;
    transition: 0.3s;
  }
  &__img {
    margin: 0;
  }
  &__content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    opacity: 0;
    transition: 0.3s;
    color: $white;
  }
  &__date,
  &__title {
    margin-bottom: 10px;
  }
  &__date {
    font-size: 12px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__excerpt {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  .tile {
    &__date,
    &__title {
      margin-bottom: 15px;
    }
    &__date {
      font-size: 14px;
    }
    &__title {
      font-size: 20px;
    }
    &__excerpt {
      font-size: 16px;
    }
  }
}
