.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $light1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &__brand {
        display: inline-block;
        outline: none;
    }
    &__brand-img {
        display: block;
        width: 250px;
    }
}

@include media-breakpoint-up(lg) {
    .navbar {
        padding: 40px 0;
    }
}
