.menu {
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    li {
        display: block;
        margin: 0 0 30px 0;
    }
    a {
        color: $white;
        font-size: 25px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
        &:hover {
            color: rgba($dark1, 0.75);
        }
    }
}

@include media-breakpoint-down(lg) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100vh - 66px);
        text-align: center;
        background: rgba($accent, 0.9);
        transform: translateX(100%);
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        will-change: transform;
        padding-top: 29px;
        margin-top: 66px;
        overflow-y: auto;
        &--visible {
            transform: translateX(0);
        }
    }
}

@include media-breakpoint-up(lg) {
    .menu {
        li {
            display: inline-block;
            margin: 0 25px 0 0;
            &:last-of-type {
                margin: 0;
            }
            &.current-menu-item {
                a {
                    font-weight: 500;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        a {
            color: $dark1;
            font-size: 18px;
            padding: 15px;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 3px;
                background-color: $accent;
                left: 0;
                transition: 0.3s;
                position: absolute;
                bottom: 2px;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
