.entry {
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    color: $white;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,.5);
    &__content {
        padding: 50px 0;
    }
    &__footer {
        padding: 20px 0;
    }
}
