html {
    font-size: 18px;
}

body {
    font-family: $font-family-primary;
    font-weight: 400;
    background: $light1;
    color: $dark1;
}

::-moz-selection {
    color: $white;
    background: $accent;
}
::selection {
    color: $white;
    background: $accent;
}

.wrapper {
    margin-top: 66px;
}

@include media-breakpoint-up(lg) {
    .wrapper {
        margin-top: 107px;
    }
}
